<div id="Footer">
	<div id="footer-animation" class="hidden">
		<div id="Contact"class=" w-100">CONTACT</div>
		<div id="ContactLine" class=" w-100"></div>
		<div class="flex-container-row">
	  		<div class="flex-container-column">
	  			<div class="left-alignement">
				    <div>Email : bgeffrault@outlook.fr</div>
				    <div>Phone Number : +33 6 25 63 81 47 | +1 514-612-8357</div>
			    </div> 
		    </div>
		    <div class="flex-container-column">
		    	<div class="right-alignement">
		    		<div class="txt">LinkedIn</div>
				    <a href="https://www.linkedin.com/in/bgeffrault/"> 
				    	<img src="https://firebasestorage.googleapis.com/v0/b/portfolio-77c7f.appspot.com/o/global-images%2Flinkedin.svg?alt=media&token=c53db14d-299a-4a67-abe3-e5e546948eb1" 
				    	alt="LinkedIn link" 
				    	width="40" height="40"
				    	class="grow">
				    </a>
				</div>
				<div class="right-alignement">
				    <div class="txt">GitHub</div>
				    <a href="https://github.com/bgeffrault">
				    	<img src="https://firebasestorage.googleapis.com/v0/b/portfolio-77c7f.appspot.com/o/global-images%2Fgithub.svg?alt=media&token=e2c3a9b2-a34a-4c5a-acb8-8dad2afad8b5" 
				    	alt="GitHub link" 
				    	width="40" height="40"
				    	class="grow">
				    </a>
				</div>
		    </div>
	   </div>
	</div>
   <div style="text-align: center; color:#a9a9a9; background-color: #2e2e2e; font-size: 12px;">Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
</div>
