.coming-soon{
	position: relative;
	margin-bottom: 20px;
	text-align: center;
	width: 100%;
	color: #090a0f;
	padding-top: 30vh;
}

.container{
	display: flex;
  	flex-direction: column;
	font-family: Lato;
	font-size: 50px;
	height:100vh;
}

.spinner{
	text-align: center;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #04c2c9;
  border-color: #04c2c9 transparent #04c2c9 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
